.about {
  position: relative;
  height: 100vh;
  min-height: 650px;
  padding-top: 200px;
}
.about__container {
  display: flex;
  max-width: 980px;
}
.about__info {
  flex: 3;
  margin-right: $margin-safe;
}

.about__desc {
  flex: 5;
  display: flex;
  flex-direction: column;
  margin-left: $margin-safe;
}
.about__welcome {
  margin-bottom: $margin-safe;
}
.about__title {
  margin-bottom: $margin-safe;
}
.about__text {
}
.about__ps {
  margin-top: auto;
}
