.closing-section {
  background: url(../images/content/closing-background.jpg) no-repeat top/cover;
  position: relative;
}
.closing-section__triangles {
  position: absolute;
  bottom: 100.1%;
  left: 0;
  right: 0;
  height: 8vmax;
  color: white;
  transform: translateY(100%);
}
