.closing-section {
  background: #eee;
  position: relative;
}
.closing-section__triangles {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  height: 8vmax;
  color: white;
  transform: translateY(100%);
}
