.developer {
  position: relative;
  height: 100vh;
  min-height: 650px;
}
.developer__container {
}
.developer__header {
  height: 150px;
}
.developer__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.developer__button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: $margin-safe;
  @include tablet {
    display: none;
  }
}
