.works {
  position: relative;
  min-height: 650px;
  padding-top: 100px;
  padding-bottom: 86px;
}
.works__container {
  height: 100%;
}
.works__section-title {
  margin-bottom: 90px;
}
.works__content {
}
