.works {
  position: relative;
  min-height: 650px;
  padding-top: 100px;
  padding-bottom: 86px;
  @include desktop {
    padding-bottom: 50px;
  }
}
.works__container {
  height: 100%;
  @include phone {
    width: 100vw;
  }
}
.works__section-title {
  margin-bottom: 90px;
  @include phone {
    margin-bottom: 50px;
    text-align: center;
  }
}
.works__content {
}
