.yells {
  position: relative;
  min-height: 650px;
  padding-top: 280px;

  @include phone {
    padding-top: 150px;
    height: 100vh;
  }
}
.yells__container {
}
.yells__slider {
}
.yells__section-title {
}
