.yells {
  position: relative;
  min-height: 650px;
  padding-top: 280px;
}
.yells__container {
}
.yells__slider {
}
.yells__section-title {
}
.yells__triangles {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  height: 8vmax;
  color: white;
  transform: translateY(100%);
}
