.dialog-button {
  background: $main-color;
  background: linear-gradient(90deg, $main-color 0%, $links-color 100%);
  width: 40%;
  height: 80px;
  border-radius: 40px 5px 40px 5px;
  text-transform: uppercase;
  transition: $delay;
  color: white;
  &:hover {
    opacity: 0.95;
    background: linear-gradient(90deg, $links-color 0%, $main-color 100%);
  }
}
