.double-slider {
}
.double-slider__header {
}
.double-slider__buttons {
}
.double-slider__button {
}
.double-slider__button_left {
}
.double-slider__button_right {
}
.double-slider__content {
}
.double-slider__list {
}
.double-slider__item {
}
.double-slider__quote {
}
