.form {
  width: 45vw;
  background: transparent;
}
.form__list {
  display: flex;
  margin-bottom: 32px;
}
.form__button {
  margin-top: 60px;
}
.temp {
  width: 750px;
  height: 500px;
  background-color: rgba(70, 77, 98, 0.9);
}
