.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  margin-right: $margin-safe;
}
.header__menu {
  margin: 0 $margin-safe;
}
.header__socials {
  margin-left: $margin-safe;
}
