.previews {
}
.previews__list {
  position: absolute;
  bottom: 0;
  left: 0;
}
.previews__item {
  cursor: pointer;
}
/*prettier-ignore*/
.previews__img {
  width: 100%;
  transition: $delay;
  margin: -4Px 0 -4Px 0;
  border: 2px solid transparent;
  &:last-child{
  margin: -4Px 0 -2Px 0;
  }
  &:hover {
    border: 2px solid $main-color;
    transform: translateZ(50px) scale(1.1);
  }
  &.active {
    transform: translateZ(50px) scale(1.1);
    border: 2px solid $accent-color;
  }
}
