.previews {
}
.previews__list {
}
.previews__item {
  cursor: pointer;
}
.previews__img {
  width: 100%;
  transition: $delay;

  &:hover {
    outline: 2px solid $main-color;
  }
  &.active {
    outline: 2px solid $accent-color;
    transform: scale(1.1);
  }
}
