.scroll-button {
  color: $text-color;
  cursor: pointer;
  display: flex;
  align-items: center;
  &:hover {
    color: $main-color;
  }
}
.scroll-button__img {
  width: 20px;
  fill: currentColor;
}
