.socials {
  display: flex;
}
.socials__item {
  margin-right: $margin-safe;
  &:last-child {
    margin-right: 0;
  }
}
.socials__link {
}
.socials__icon {
  width: 30px;
  height: 30px;
  display: block;
  fill: currentColor;

  &:hover {
    fill: $links-color;
  }
}
