.tags {
}
.tags__list {
  display: flex;
  flex-wrap: wrap;
}
.tags__item {
  padding: 4px 15px;
  border-radius: 16px;
  background: $tag-bg-color;
  margin-right: $margin-safe;
  margin-bottom: $margin-safe;
}
