.work {
}
.work__slider {
}
.work__index {
}
.work__view {
  width: 60vw;
}
.work__img {
}
.work__buttons {
}
.work__button_down {
}
.work__button {
}
.work__button_up {
}
.work__previews {
}
.work__desc {
}
.work__tags {
}
.work__title {
}
.work__text {
}
.work__link {
}
