.yell {
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 30vh;
}
.yell__text {
}
.yell__user {
  margin-top: auto;
  display: flex;
  align-items: center;
}
.yell__avatar {
  width: 75px;
  margin-right: 30px;
}
.yell__user-desc {
}
.yell__username {
}
.yell__user-occupation {
}
