script(type="text/x-template")#works-template
  .works__content
    .work
      workSlider(
        :selected-work="selectedWork"
        :work-index="workIndex"
        :previews="previews"
        :isNextDisabled='isNextDisabled'
        :isPreviousDisabled='isPreviousDisabled'
        @slide="handleSlide"
        @select="handleSelect"
        )
      workInfo(:selected-work="selectedWork")

script(type="text/x-template")#work-slider-template
  .work__slider 
    .work__index.text.text_super {{workIndex}}
    workView(
      :selected-work="work"
      :previews="previews"
      :isNextDisabled='isNextDisabled'
      :isPreviousDisabled='isPreviousDisabled'
      @slide="$emit('slide', $event)"
      @select="$emit('select', $event)"
      )

script(type="text/x-template")#work-view-template
  .work__view 
    img(:src="selectedWork.photo").work__img
    buttons(
      :isNextDisabled='isNextDisabled'
      :isPreviousDisabled='isPreviousDisabled'
      @slide="$emit('slide', $event)"
      )
    previews(
      :selectedWork="selectedWork"
      :previews="previews"
      @select="$emit('select', $event)")

script(type="text/x-template")#buttons-template
  .work__buttons
    button(
      @click.prevent="$emit('slide','next')"
      :disabled='isNextDisabled'
    ).work__button.work__button_up
      +icon("arrow-down", 'work__button-img work__button-img_up')
    button(
      @click.prevent="$emit('slide','previous')"
      :disabled='isPreviousDisabled'
    ).work__button.work__button_down
      +icon("arrow-down", 'work__button-img work__button-img_down')

script(type="text/x-template")#previews-template
  .previews.work__previews
    ul.previews__list
      li.previews__item(
        v-for="slide in slides"
        :key="slide.id"
        ) 
        img(
          :src="slide.photo", class="previews__img"
          :class="{active: selectedWork.id === slide.id}"
          @click.prevent="$emit('select', slide.index)"
)

script(type="text/x-template")#work-info-template
  .work__desc
    //tags(:tags="work.tags")
    .section-title__text.work__title.title-text.title-text_small {{work.title}}
    .work__text.text.text_semi-bold.text_70 {{work.description}}
    .work__link
      a.link(:href="work.link" target="_blank") Посмотреть сайт
        +icon('link', 'link__img')

script(type="text/x-template")#tags-template
  .tags.work__tags
    ul.tags__list
      li(v-for="tag in tags" :key="tag").tags__item.text.text_semi-bold.text_70 {{tag}}