script(type="text/x-template")#yells-template
  .yells__slider 
    .double-slider(@click='checkState' @touchend="checkState")
      .double-slider__header
        .double-slider__title
          h2.double-slider__title-text.title-text Что обо мне говорят
        .double-slider__buttons
          button(
            ref="sliderPrevious" 
            @click="handlePrevious()"
              :disabled='isPreviousDisabled'
            ).double-slider__button.double-slider__button_left 
            +icon("arrow-down", 'double-slider__button-img double-slider__button-img_left')
          button(
            ref="sliderNext" 
            @click="handleNext()"
            :disabled='isNextDisabled'
            ).double-slider__button.double-slider__button_right 
            +icon("arrow-down", 'double-slider__button-img double-slider__button-img_right')
      .double-slider__content
        flickity(ref="flickity" :options="flickityOptions").double-slider__list
          .double-slider__item(v-for="yell in yells" :key="yell.id")
            +icon('quote', 'double-slider__quote')
            .yell
              .yell__text.text.text_semi-bold.text_50 {{yell.text}}
              .yell__user
                .avatar.yell__avatar
                  img(:src="yell.photo").avatar__img
                .yell__user-desc
                  .yell__username.text.text_bold {{yell.author}}
                  .yell__user-occupation.text.text_semi-bold.text_30 {{yell.occ}}