@mixin desktopHd() {
  @media screen and (max-width: $bp-desktop-hd) {
    @content;
  }
}

@mixin desktop() {
  @media screen and (max-width: $bp-desktop) {
    @content;
  }
}

@mixin laptop() {
  @media screen and (max-width: $bp-laptop) {
    @content;
  }
}

@mixin tablet() {
  @media screen and (max-width: $bp-tablet) {
    @content;
  }
}

@mixin phone() {
  @media screen and (max-width: $bp-phone) {
    @content;
  }
}
