.control-bar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.control-bar__button {
  color: $text-color50;
  font-weight: 600;
  & .button__caption {
    margin-right: 10px;
  }
  & .button__icon_edit {
    color: $links-color;
  }
  & .button__icon_remove {
    color: $admin-error-color;
  }
}
