.section-title {
}
.section-title__text {
  font-size: 21px;
  font-weight: 700;
}

.section-list {
  display: flex;
  flex-wrap: wrap;
}
.section-list__item {
  min-height: 40vh;
  transition: $delay;
}
